#editPanel{
	position:absolute;
	background-color:black;
}
#elementTitle{
	width:124px;
}
#editPanelSave{
	background-color:green;
	width:60px;
	display:inline-block;
	cursor: pointer;
}
#editPanelCancel{
	background-color:red;
	width:60px;
	display:inline-block;
	cursor: pointer;
}
#hover{
	position:absolute;
	background-color:black;
	color:white;
	padding:0 10px;
}